// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyDtCPpWK6U5B2_maBmmTBc3jTLd7Zy6Rek",
  authDomain: "healthxperience2026.firebaseapp.com",
  projectId: "healthxperience2026",
  storageBucket: "healthxperience2026.firebasestorage.app",
  messagingSenderId: "810282402968",
  appId: "1:810282402968:web:d5231c05646de67d91bced"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
